* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  /*background-image: url("../cellphone-device-electronics-870903.jpg");*/
  background-size: cover;
}

#regForm {
  background-color: #f1f1f1;
  margin: 100px auto;
  opacity: 0.8;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 30px;
  width: 37%;
  min-width: 300px;
}

h1 {
  
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  border: none;
  border-bottom: 2px solid #acacac;
}
select{
  text-align: center;
  padding: 10px;
  font-size: 17px;
  border: none;
  border-bottom: 2px solid #acacac;
  width: 100%;
  margin-top: 5px;
}

input[type=date] {
  color: #acacac;
  text-transform: uppercase;
  font-size: 20px;
  white-space: initial;
  height: 45px;;
  width: 100%;
  border: none;
  border-bottom: 2px solid #acacac;
}
input.invalid {
  background-color: #ffdddd;
}

.tab {
  display: none;
  font-size: 17px;
  font-weight: bold; 
}

button {
  background-color: #4DD0E1;
  color: #000000;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
}
.mainheader nav{
  font-size: 20px;
  text-decoration: none;
  padding-top: 30px;
  background-color: #4DD0E1;
  height: 120px;
  color: #ffff;
  font-weight: bold;
}
a{
  color: #ffff;
  text-decoration: none;
}
.mainheader nav ul{
  text-align: center;  
  list-style-type: none;
  
}
.mainheader nav ul li{
  float: right;
  display: inline-block;
}
.mainheader nav a:link{
  color: #ffffff;
  display: inline-block;
  padding: 10px 25px;
  height: 50px;
  padding-top: 10px;
}
h1 { 
  font-size: 50px;
  margin-left: 25px;
  margin-top: 10px;
  color: #acacac;
  float: left;
  display: inline-block;
  
}
button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}


.step.finish {
  background-color: #4CAF50;
}
.body{
  width: 80%;
  margin: 0 auto;
}
.mainFooter{
  width: 100%;
  float: left;
  clear: both;
  font-size: 20px;
  height: 150px;
  background-color:#4DD0E1;
  margin: 2% 0;
}
.mainFooter p{
  padding-top: 30px;
  text-align: center;
  width: 92%;
  margin: 10px auto;
  color: #ffffff;
}